// Bootstrap Grid

.container {
	max-width: 100%;
}

.navbar-collapse,
.container > .navbar-collapse {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	box-shadow: none;
	border-top: none;
}

@media screen and (min-width: ( 1200px + $scrollbar ) ) {

	.container {
		width: 1110px;
	}

}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths,
.col-xs-7ths,
.col-sm-7ths,
.col-md-7ths,
.col-lg-7ths,
.col-xs-11ths,
.col-sm-11ths,
.col-md-11ths,
.col-lg-11ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

.col-xs-7ths {
    width: 14.2857%;
    float: left;
}

.col-xs-11ths {
    width: 9.0909%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
    .col-sm-7ths {
        width: 14.2857%;
        float: left;
    }
    .col-sm-11ths {
        width: 9.0909%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
    .col-md-7ths {
        width: 14.2857%;
        float: left;
    }
    .col-md-11ths {
        width: 9.0909%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
    .col-lg-7ths {
        width: 14.2857%;
        float: left;
    }
    .col-lg-11ths {
        width: 9.0909%;
        float: left;
    }
}

.row.colado {
	margin-left: 0px;
	margin-right: 0px;
	> [class*="col-"] {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.row.estreito {
	margin-left: -7.5px;
	margin-right: -7.5px;
	> [class*="col-"] {
		padding-left: 7.5px;
		padding-right: 7.5px;
	}
}

.row.inline {
	font-size: 0;
	text-align: center;
	> [class^="col-"] {
		float: none;
		display: inline-block;
		vertical-align: top;
		font-size: 1rem;
	}
}

@media (min-width: 768px) {
	.row.largo {
		margin-left: -30px;
		margin-right: -30px;
		> [class*="col-"] {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}

@media screen and (min-width: 768px) {
	.equal,
	.equal > .col,
	.equal > div[class*='col-'] {  
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex:1 0 auto;
	}
	.equal label {
		line-height: 50px;
	}
}

.sem_margem {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}



// Bootstrap Carousel

.carousel-progress {
    height: 5px;
    background-color: $secundaria;
    width: 0%;
    margin: 0;
    border: none;
    z-index: 11;
    position: relative;
}

.carousel.carousel-fade {
	// Adiciona animação de fade ao carrossel
    .carousel-inner {
        .item {
            //  transition-property: opacity;
			// transition-duration: 2s;
			transition: opacity 2.5s ease-in-out;
            transform: none !important;
        }
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }
        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }
        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }
}

.carousel-control.left,
.carousel-control.right {
    font-size: 42px;
    width: 3%;
    background: none;
    top: 50%;
}

/*
.carousel-indicators {
	left: auto;
	right: 20px;
	bottom: 15px;
	transform: none;
	> li.indicator-item {
		margin: 0 6px;
		width: 12px;
		height: 12px;
		box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
		background-color: rgba( $terciariaR, $terciariaG, $terciariaB, 0.9 );
		&.active {
			background-color: rgba( $secundariaR, $secundariaG, $secundariaB, 0.9 );
		}
		&:hover,
		&:focus {
			background-color: rgba(255,255,255,0.9);
		}
	}
}
*/

.carousel-indicators {
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 0;
	margin-left: 0;
	width: auto;
	font-size: 0;
	> li.indicator-item {
		margin: 0 5px;
		width: 15px;
		height: 15px;
		border: none;
		background-color: rgba( 0, 0, 0, 0.1 );
		box-shadow: none;
		transition: $rapida;
		cursor: pointer;
		&.active {
			border: none;
			background-color: rgba( 0, 0, 0, 0.6667 );
		}
	}
}



// Anúncios

ul[class^="ml-adverts"] {
	margin: 0;
	padding: 0;
	list-style-type: none;
	> li[class^="ml-adverts"] {
		margin: 0;
		padding: 0;
	}
}



// Misc

.hotspot {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
}

.sobre_overlay {
	position: relative;
	z-index: 3;
}

.anim {
	opacity: 0;
}

.anim.animated {
	opacity: 1;
}

nav.navbar {
    button, button:hover, button:focus {
        box-shadow: none;
        border: none;
    }
}

/*
.widget_text {
	white-space: pre;
}
*/

.esquerda {
	text-align: left;
}

.direita {
	text-align: right;
}

.centro {
	text-align: center;
}

.obrigatorio::after,
.required::after {
	font-size: 2em;
	line-height: calc( 1.2 * 14px );
	vertical-align: middle;
	display: inline-block;
	margin-left: 0.12em;
	margin-bottom: -3px;
	content: '*';
	color: $alerta;
}

.legenda {
	font-weight: $rg;
	font-style: italic;
	font-size: 0.8em;
	color: $cinzaMedio;
}
	
input.full,
select.full,
textarea.full {
	width: 100%;
}

.icone {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: middle;
	font-size: 0;
}

.sem_quebra {
	white-space: nowrap;
}

a[data-gallery] {
	cursor: zoom-in;
}

.wpcf7-form-control-wrap {
	display: block;
}

form.wpcf7-form > p {
	margin-bottom: 0;
}

.fa {
	cursor: default;
}

.lh1 {
	line-height: 1;
}

.ancorar {
	position: relative;
}

.nao_ancorar {
	position: static;
}

.vert_ancestral {
	font-size: 0;
}

.vert_item {
	display: inline-block;
	vertical-align: middle;
	line-height: $lh_natural;
	font-size: 1rem;
}

.mapscroll-wrap {
	display: block !important;
}

	.mapscroll-overlay {
		right: 0;
		bottom: 0;
		width: auto !important;
		height: auto !important;
	}
	
.highlight {
	display: inline-block;
	// vertical-align: middle;
	background-color: rgba(255, 86, 0, 0.5);
	padding: 2px 6px;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
}



// Mensagens

#page .mensagens {
	margin: 0 0 20px;
	ul.mensagens_lista {
		margin: 15px 0 0;
		border-width: 2px;
		border-style: solid;
		padding: 10px 15px 10px 7.5px;
		font-size: 16px;
		color: $preto;
		list-style-type: none;
		> li {
			padding-left: 30px;
			text-indent: -12px;
			&:last-child {
				margin-bottom: 0;
			}
			&::before {
				display: inline-block;
				margin-right: 0.67em;
				font-family: 'FontAwesome';
			}
			> a {
				font-weight: bold;
				&:hover,
				&:focus {
					color: $preto;
				}
			}
		}
		&.sucesso {
			border-color: #6c3;
			background-color: #cf9;
			> li::before {
				color: #5a3;
				content: '\f058';
			}
		}
		&.info {
			border-color: #69f;
			background-color: #9cf;
			> li::before {
				color: #25d;
				content: '\f05a';
			}
		}
		&.erro {
			border-color: #f66;
			background-color: #fcc;
			> li::before {
				color: #e33;
				content: '\f057';
			}
		}
		&:empty {
			display: none;
		}
	}
}

#modal_mensagens {
	.modal-title {
		font-weight: $lt;
		text-transform: uppercase;
		font-size: 18px;
	}
	#btn-fechar-modal {
		margin-top: 0;
	}
	.modal-body {
		> .mensagens {
			margin: -15px 0 0;
		}
	}
}



// Redes sociais

ul.menu_social {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: right;
	line-height: 20px;
	font-size: 0;
	> li.menu-item {
		display: inline-block;
		position: relative;
		vertical-align: top;
		margin: 0;
		padding: 0;
		&:not(:last-child) {
			margin-right: 24px;
		}
		> a {
			display: block;
			text-align: center;
			color: white;
			&::before {
				display: inline-block;
				vertical-align: middle;
				font-size: 20px;
				font-family: 'FontAwesome';
			}
			&[href^="https://www.facebook.com"] {
				&::before {
					content: '\f09a';
				}
				/*
				&:hover,
				&:focus {
					color: #3b5998;
				}
				*/
			}
			&[href^="https://www.instagram.com"] {
				&::before {
					content: '\f16d';
				}
				/*
				&:hover,
				&:focus {
					color: #125688;
				}
				*/
			}
			&[href^="https://www.youtube.com"] {
				&::before {
					content: '\f16a';
				}
				/*
				&:hover,
				&:focus {
					color: #bb0000;
				}
				*/
			}
			&[href^="https://www.linkedin.com"] {
				&::before {
					content: '\f0e1';
				}
				/*
				&:hover,
				&:focus {
					color: #007bb5;
				}
				*/
			}
			&[href^="https://twitter.com"] {
				&::before {
					content: '\f099';
				}
				/*
				&:hover,
				&:focus {
					color: #55acee;
				}
				*/
			}
			&[href^="https://plus.google.com"] {
				&::before {
					content: '\f0d5';
				}
				/*
				&:hover,
				&:focus {
					color: #dd4b39;
				}
				*/
			}
			&:hover,
			&:focus {
				color: $turquesa;
			}
		}
	}
}



// Blocos de informação

.info_item {
	// display: inline-block;
	// vertical-align: middle;
	display: block;
	font-size: 0;
	&:not(:last-child) {
		margin-bottom: 5px;
	}
	.info_grafico {
		display: inline-block;
		vertical-align: middle;
		margin-right: 6px;
		width: 40px;
		border-radius: 50%;
		background-color: #232323;
		line-height: 40px;
		text-align: center;
		transition: $rapida;
		&.com_img {}
		&.sem_img {}
		.info_grafico_img {
			max-width: 34px;
			max-height: 34px;
			width: auto;
			height: auto;
			transition: $rapida;
		}
		.info_grafico_icone {
			vertical-align: middle;
			font-size: 22px;
			color: white;
			transition: $rapida;
		}
	}
	.info_conteudo {
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		font-weight: $rg;
		font-size: 12px;
		line-height: $lh_padrao;
		color: $cinzaClaro;
		.info_titulo {
			margin: 0;
			text-transform: uppercase;
			font-weight: $rg;
			font-size: 16px;
			line-height: $lh_padrao;
			color: white;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.info_texto {
			margin-bottom: 0;
		}
		a {
			color: inherit;
			&:hover,
			&:focus {
				color: white;
			}
		}
	}
	&:hover {
		.info_grafico {
			background-color: $terciaria;
		}
		.info_grafico .info_grafico_img,
		.info_grafico .info_grafico_icone {
			transform: scale(1.125);
		}
	}
}



// Owl Carousel

.owl-carousel {
	padding: 0;
	.owl-nav {
		display: block;
		position: absolute;
		top: 50%;
		left: -50px;
		right: -50px;
		margin-top: -12px;
		.owl-prev,
		.owl-next {
			position: absolute;
			top: 0;
			font-size: 0;
			opacity: 0.6;
			transition: $rapida;
			&:hover {
				opacity: 1;
			}
		}
		.owl-prev {
			left: 0;
			@include imagem('imagens/slider_seta_esquerda_preta.png', 15, 24 );
		}
		.owl-next {
			right: 0;
			@include imagem('imagens/slider_seta_direita_preta.png', 15, 24 );
		}
	}
}

