
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// INFO e CONTATO

#contato_info,
#rodape_info {
	padding-top: 220px;
	padding-bottom: 20vw;
	@include fundo();
	.secao_wrapper {
	}
		.info_col1 {
			padding-right: 55px;
			text-align: left;
			color: white;
			.info_titulo {
				margin: 0;
				font-family: $shadows;
				font-weight: $rg;
				font-size: 26px;
				line-height: $lh_simples;
				&.intro_titulo {}
				&.telefone_titulo {}
				&.email_titulo {}
			}
			.intro_conteudo {
				margin: 0 0 20px;
				font-family: $dosis;
				font-weight: $th;
				font-size: 46px;
				line-height: $lh_simples;
			}
			.telefone_numero {
				margin: 0 0 20px;
				font-family: $dosis;
				font-weight: $bd;
				font-size: 46px;
				line-height: $lh_simples;
			}
			.email_endereco {
				margin: 0;
				font-family: $dosis;
				font-weight: $bd;
				font-size: 32px;
				line-height: $lh_simples;
				> a {
					font-family: inherit;
					color: inherit;
					&:hover,
					&:focus {
						color: $amareloMarca;
					}
				}
			}
		}
		.info_col2 {
			input[type=text],
			input[type=email],
			textarea {
				display: block;
				width: 100%;
				margin-bottom: 22px;
				border-radius: 40px;
				border: solid white 3px;
				background-color: transparent;
				padding: 8px 35px;
				font-family: $dosis;
				font-weight: $th;
				font-size: 24px;
				line-height: $lh_padrao;
				color: white;
				&:focus,
				&:hover {
					border-color: $amareloMarca;
					color: $amareloMarca;
				}
				@include placeholder(white);
			}
			textarea {
				height: calc( $lh_padrao * 3 + 28px + 6px );
				padding: 14px 35px;
				resize: none;
			}
			input[type=submit],
			button[type=submit] {
				display: block;
				width: 100%;
				border-radius: 50px;
				border: none;
				background-color: $amareloMarca;
				padding: 0 20px;
				font-family: $dosis;
				font-weight: $th;
				font-size: 28px;
				line-height: 58px;
				color: white;
				&:hover,
				&:focus,
				&:active {
					background-color: $turquesa;
				}
			}
			.wpcf7-form > p {
				margin-bottom: 0;
			}
			.wpcf7-form > p > br {
				display: block;
			}
		}
}



// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ENDEREÇOS

#contato_enderecos {
	position: relative;
	padding-top: 50px;
	padding-bottom: 160px;
	background-color: $preto;
	&::before {
		position: absolute;
		top: 0;
		right: 50%;
		height: 70%;
		z-index: 1;
		width: 200%;
		background-color: $preto;
		transform-origin: right top;
		transform: rotate(18deg);
		content: '';
	}
	&::after {
		position: absolute;
		top: 0;
		left: 50%;
		z-index: 1;
		height: 70%;
		width: 200%;
		background-color: $preto;
		transform-origin: left top;
		transform: rotate(-18deg);
		content: '';
	}
	.secao_wrapper {
		position: relative;
		z-index: 5;
	}
		.enderecos_item {
			margin-bottom: 45px;
			text-align: center;
			font-weight: $th;
			font-size: 20px;
			line-height: $lh_padrao;
			color: white;
			.item_cidade {
				margin: 0 0 25px;
				background: url('imagens/contato_endereco.png') no-repeat center top;
				padding-top: calc( 38px + 14px );
				font-family: $dosis;
				font-size: 36px;
				color: $amareloMarca;
			}
			.item_mapa {
				margin-bottom: 5px;
				iframe {
					width: 100%;
					height: 260px;
				}
			}
			.item_endereco {
				margin-bottom: 10px;
				font-family: $dosis;
				font-style: normal;
			}
			.item_telefone {
				margin-bottom: 0;
				font-family: $dosis;
				color: $amareloMarca;
			}
		}
}




// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// BLOG NO RODAPÉ

#rodape_blog {
	background-color: white;
	padding-top: 80px;
	padding-bottom: 50px;
}
	
	#rodape_blog_wrapper {
	}
	


// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// INFO E CONTATO NO RODAPÉ

#rodape_info {
	position: relative;
	background: $preto radial-gradient( circle, $preto 0%, #232323 100% );
	padding: calc( 220 / #{$larguraLayout} * 100vw ) 0 calc( 80 / #{$larguraLayout} * 100vw );
	&::before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		border-style: solid;
		border-width: calc( 128 / #{$larguraLayout} * 100vw ) 50vw;
		border-color: white transparent transparent;
		content: '';
		pointer-events: none;
	}
	.info_col1 {
		.info_titulo.intro_titulo,
		.telefone_numero,
		.email_endereco {
			color: $amareloMarca;
		}
		.email_endereco > a {
			&:hover,
			&:focus {
				color: $turquesa;
			}
		}
	}
}



// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// RODAPÉ (COLUNAS)

#colophon {
	background-color: $bgRodape;
	padding: 75px 0 85px;
	text-align: left;
	font-size: 16px;
	color: white;
	* {
		font-family: $dosis;
		font-weight: $rg;
	}
	a {
		color: white;
		&:hover,
		&:focus {
			color: $turquesa;
		}
	}
	ul {
		margin: 0 0 20px;
		padding: 0;
		list-style-type: none;
		> li {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}
}

	#rodape_linha1 {
		margin-bottom: 30px;
	}
		
		#rodape_logo {
			margin-bottom: 20px;
			.rodape_logo_img {}
		}
		
		#rodape_col1,
		#rodape_col2,
		#rodape_col3 {
			margin-bottom: 20px;
		}
		
		#rodape_contato {
			.rodape_telefone {
				margin-bottom: 5px;
				font-size: 20px;
				color: $amareloMarca;
			}
			.rodape_email {
				margin-bottom: 0;
				font-size: 18px;
			}
			.rodape_endereco {
				margin-top: 15px;
				font-style: normal;
				font-size: 13px;
				line-height: $lh_simples;
				> br {
					font-size: 6px;
					line-height: 6px;
				}
			}
		}
		
	#rodape_linha2 {
		font-size: 10px;
	}
	
		#rodape_copyright {
			vertical-align: bottom;
			margin-bottom: 0;
			width: 100%;
			font-size: 12px;
		}
		
		#rodape_redes {
			vertical-align: bottom;
			margin: 0;
			padding: 0;
			ul.menu_social {
				margin-bottom: 0;
				> li.menu-item {
					margin-bottom: 0;
					&:not(:last-child) {
						margin-right: 20px;
						padding-right: 20px;
						&::after {
							position: absolute;
							top: 50%;
							right: 0;
							transform: translateY(-50%);
							height: 15px;
							width: 1px;
							background-color: white;
							font-size: 0;
							content: '';
						}
					}
				}
			}
		}
		