
/* Definições */

// Legacy

$branco: #ffffff;
$preto2: #323232;
$preto3: #181818;
$roxo: #472255;
$laranja: #ed9c26;
$laranjaEscuro: #D96C23;
$amarelo: #FDD149; // fdd430;
$amareloClaro: #FEEA98;
$dourado: #BF8F28;
$vermelho2: #E94B2F;
$cian: #7DCEF2;
$vermelho: #E61A31;
$cinzaMedio2: #808080;
$cinzaEscuro2: #3d3d3d;
$cinzaEscuro: #565555;
$azulMarca: #1b6db4;
$azulMarca2: #2971b4;
$azulClaro: #0aa0df;
$cinzaClaro: #d1d1d1;
$cinzaMedio: #9b9b9b;
$preto: #202020;

// Atuais

$amareloMarca: #FEA32E;
$amareloEscuro: #E7983D;
$salmaoClaro: #FEF4E4;
$cinzaMedio: #6E7377;
$preto: #353535;
$lilas: #87094F;
$turquesa: #30A79F;
$azulEscuro: #294360;
$azulMedio: #3A618F;

$primaria: $preto; 
$primariaR: 53;
$primariaG: 53;
$primariaB: 53;
$secundaria: $amareloMarca;
$secundariaR: 254;
$secundariaG: 163;
$secundariaB: 46;
$terciaria: $amareloEscuro;
$terciariaR: 231;
$terciariaG: 151;
$terciariaB: 61;
$alerta: $vermelho;

$bgPagina: #ffffff;
$bgCabecalho: transparent;
$bgConteudo: $bgPagina;
$bgArtigo: $bgPagina;
$bgRodape: #353535;
$bgMenu: $amareloMarca;

$inter: 'Interstate', sans-serif; //
$interplus: 'InterstatePlus', sans-serif; //
$dosis: 'Dosis', sans-serif; //
$shadows: 'Shadows Into Light', cursive; //
$raleway: $inter;
$gotham: $inter;
$tipoPrimario: $inter;
$tipoSecundario: $shadows;
$hl: 100;
$th: 100;
$xl: 200;
$lt: 300;
$rg: 400;
$book: 450;
$md: 500;
$sb: 600;
$bd: 700;
$bk: 800;
$xb: 900;
$lh_natural: 1.42857em;
$lh_simples: 1.2em;
$lh_largo: 1.8em;
$lh_padrao: 1.6em;
$lh_duplo: 2.2em;

$rapida: all cubic-bezier(0.850, 0.005, 0.280, 1.000) 300ms;
$moderada: all ease-out 375ms;
$lenta: all ease-out 475ms;

$larguraLayout: 1340;
$alturaCabecalho: 150px;
$scrollbar: 30px;
$layout: 1365;

@mixin overlay( $r:0, $g:0, $b:0, $a:0 ) {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	@if $a != 0 {
		background-color: rgba( $r, $g, $b, $a );
	}
	content: '';
}

@mixin overlayCircular( $bordaA: 0.5, $centroA: 0.1, $forma: circle ) {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	background: radial-gradient( $forma, rgba( 0, 0, 0, $centroA ) 0%, rgba( 0, 0, 0, $bordaA ) 100% );
	content: '';
}

@mixin wrapper( $centralizarX: false, $centralizarY: false ) {
	display: block;
	position: absolute;
	z-index: 2;
	@if $centralizarX {
		left: 50%;
	}
	@else {
		left: 0;
		right: 0;
	}
	@if $centralizarY {
		top: 50%;
	}
	@else {
		top: 0;
		bottom: 0;
	}
	@if $centralizarX and $centralizarY {
		transform: translate(-50%,-50%);
	}
	@elseif $centralizarX {
		transform: translateX(-50%);
	}
	@elseif $centralizarY {
		transform: translateY(-50%);
	}
}

@mixin fundo( $src: false ) {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	@if $src {
		background-image: url($src);
	}
}

@mixin inlineWidgets() {
	.widget,
	.widget > div,
	.widget p {
		// display: inline-block;
		display: inline;
		margin: 0;
		// vertical-align: middle;
	}
}

@mixin placeholder( $cor ) {
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		opacity: 1;
		color: $cor;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		opacity: 1;
		color: $cor;
	}
	&:-ms-input-placeholder { /* IE 10+ */
		opacity: 1;
		color: $cor;
	}
	&:-moz-placeholder { /* Firefox 18- */
		opacity: 1;
		color: $cor;
	}
}

@mixin imagem( $src, $w : false, $h : false ) {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url($src);
	@if $w {
		width: #{$w}px;
	}
	@if $h {
		height: #{$h}px;
	}
}

@mixin base64( $src, $w : false, $h : false ) {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url( 'data:image/png;base64,' + $src );
	@if $w {
		width: #{$w}px;
	}
	@if $h {
		height: #{$h}px;
	}
}

@mixin prop( $h, $w : $larguraLayout ) {
	position: relative;
	padding-bottom: calc( #{$h} / #{$w} * 100% );
}

@mixin svgColor( $color : false ) {
	@if $color {
		path,
		circle,
		rect {
			stroke: $color !important;
		}
		path:not([style*="fill:none"]),
		circle:not([style*="fill:none"]),
		rect:not([style*="fill:none"]) {
			fill: $color !important;
		}
	} @else {
		path,
		circle,
		rect {
			transition: $rapida;
		}
	}
}

@import 'elementos';
@import 'classes';



/* Cabeçalho */

#page {
	width: 100%;
	// overflow-x: hidden;
}

@import 'cabecalho';



// Conteúdo

#content {
	background-color: $bgConteudo;
}

// @import 'singular';
@import 'blog';
@import 'home';
@import 'servicos';
@import 'internas';



// Rodapé

@import 'contato_rodape';
