
@font-face {
    font-family:'Interstate';
    src: url('fontes/Interstate-Regular.eot');
	src: local('Interstate-Regular'), local('Interstate'),
		url('fontes/Interstate-Regular.eot?#iefix') format('embedded-opentype'),
		url('fontes/Interstate-Regular.woff2') format('woff2'),
		url('fontes/Interstate-Regular.woff') format('woff'),
		url('fontes/Interstate-Regular.svg#Interstate-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Interstate';
    src: url('fontes/Interstate-Light.eot');
	src: local('Interstate-Light'), local('Interstate'),
		url('fontes/Interstate-Light.eot?#iefix') format('embedded-opentype'),
		url('fontes/Interstate-Light.woff2') format('woff2'),
		url('fontes/Interstate-Light.woff') format('woff'),
		url('fontes/Interstate-Light.svg#Interstate-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Interstate';
    src: url('Interstate Thin.eot');
	src: local('Interstate-Thin'), local('Interstate'),
		url('fontes/Interstate Thin.eot?#iefix') format('embedded-opentype'),
		url('fontes/Interstate Thin.woff2') format('woff2'),
		url('fontes/Interstate Thin.woff') format('woff'),
		url('fontes/Interstate Thin.svg#Interstate Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Interstate';
    src: url('Interstate ExtraLight.eot');
	src: local('Interstate-ExtraLight'), local('Interstate'),
		url('fontes/Interstate ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('fontes/Interstate ExtraLight.woff2') format('woff2'),
		url('fontes/Interstate ExtraLight.woff') format('woff'),
		url('fontes/Interstate ExtraLight.svg#Interstate ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Interstate';
    src: url('fontes/Interstate-Bold.eot');
	src: local('Interstate-Bold'), local('Interstate'),
		url('fontes/Interstate-Bold.eot?#iefix') format('embedded-opentype'),
		url('fontes/Interstate-Bold.woff2') format('woff2'),
		url('fontes/Interstate-Bold.woff') format('woff'),
		url('fontes/Interstate-Bold.svg#Interstate-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Interstate';
    src: url('fontes/Interstate-Black.eot');
	src: local('Interstate-Black'), local('Interstate'),
		url('fontes/Interstate-Black.eot?#iefix') format('embedded-opentype'),
		url('fontes/Interstate-Black.woff2') format('woff2'),
		url('fontes/Interstate-Black.woff') format('woff'),
		url('fontes/Interstate-Black.svg#Interstate-Black') format('svg');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}