@charset "UTF-8";
#digital-studio #bloco1 .secao_grafico .passos {

  text-align: left; }
.post-237 .desktop-sumir{
  display: none;
}

#quem-somos .home_scroll{
  bottom: 100px!important;
}

.page-id-239 #rodape_blog{
  padding-top:40px;
}
.modal.modal_servicos .modal-content .modal-body .secao_item .item_cabecalho .item_nome{
  width:100%!important;
  letter-spacing: 0px!important;
}

#digital-studio #bloco2 .intro .intro_titulo > .linha2, #digital-studio #bloco1 .intro .intro_titulo > .linha2{
  line-height: 1.3em;
}

  @media (max-width: 991px) {
    .page-id-239 .servicos_blocos .bloco .bloco_itens.colunas_4e .bloco_item {
        padding: 0px 0px;
    }
    .page-id-260 #contato_info .info_col1 .email_endereco {
    margin-bottom: 30px;
    }
  }
  @media (max-width: 767px) {
    .page-id-239 .servicos_blocos .bloco .bloco_sobre .sobre_titulo {
        margin: 0 0 40px;
    }
    .page-id-239 .servicos_blocos .bloco .bloco_sobre .sobre_intro {
      margin-bottom:40px;
    }
    #digital-studio #bloco3 .intro_texto {
    font-size: 18px!important;
    margin-top: 30px!important;
    }
    .page-id-260 #contato_info .info_col1 .email_endereco {
    margin-bottom: 30px;
    }
    #intro_wrapper .intro_mais > .home_scroll, #intro_wrapper .intro_mais > .intro_mais_rotulo{
      display: none;
    }
  }

  @media (max-width: 576px) {
    .post-237 .mobile-sumir{display:none;}
    .post-237 .desktop-sumir{display:block;}

    #bloco3 .intro_titulo > .linha2{
      font-size: 74px!important;
    }
    #digital-studio #bloco3 .intro_texto{
      font-size: 18px!important;
      margin-top:30px;
    }
    /*HOME EDITS*/
    #home .inovacao_grafico_img{
      display:none;
    }
    #home #inovacao_conteudo .secao_titulo{
      margin-left: 0px;
      width:100%;
      font-size:85px;
      text-align:left;
    }
    #home #inovacao_conteudo .inovacao_logo {
    float: left;
    margin-left: 15px;
    }
    #home #inovacao_conteudo .inovacao_botao{
    margin-top: 40px;
    }
    #home #intro_frases .owl-slide{
    font-size: 70px;
    }
    #home .intro_mais{
      display:none;
    }
    #home .home_scroll{
      display:none;
    }
    .home_scroll{
      display:none;
    }
    /*HOME FINAL EDITS*/
    #servicos .entry-header .header-caption .col_titulo{
      text-align: left!important;
    }
    #servicos .entry-header .header-caption .entry-desc > .entry-desc-texto{
      font-size: 20px!important;
    }
    #servicos_conteudo .servicos_blocos .bloco .bloco_sobre .sobre_titulo > .linha1{
      font-size: 30px;
    }
    #servicos_conteudo .servicos_blocos .bloco .bloco_sobre .sobre_titulo > .linha2{
      font-size: 70px;
    }

    .page-id-260 #contato_info .info_col1 .intro_conteudo, #rodape_info .info_col1 .intro_conteudo{
      font-size: 30px !important;
    }
    .page-id-260 #contato_info .info_col1 .info_titulo, #rodape_info .info_col1 .info_titulo{
      font-size: 20px !important;
    }
    .page-id-260 #contato_info .info_col1 .telefone_numero{
      font-size: 30px !important;
    }
    .page-id-260 #contato_info .info_col1 .email_endereco > a, #rodape_info .info_col1 .email_endereco > a{
      font-size: 20px !important;
      margin-bottom:10px;
    }
    .page-id-260 #contato_info .info_col1 .email_endereco{
      margin-bottom: 15px;
    }
    .page-id-260 #contato_enderecos{
      padding-bottom:10px;
    }
    .modal.modal_servicos .modal-content .modal-body .secao_item .item_cabecalho .item_nome{
      padding-right: 0;
    }
    .modal.modal_servicos .modal-content .modal-body .secao_item .item_cabecalho .item_nome{
      width:100%;
      font-size:25px;
    }
  }
  @media (max-width: 768px) {
    #servicos .entry-header .header-caption .col_titulo{
      text-align: left!important;
    }
    #servicos .entry-header .header-caption .entry-desc > .entry-desc-texto{
      font-size: 20px!important;
    }
    #servicos_conteudo .servicos_blocos .bloco .bloco_sobre{
      margin-bottom: 50px;
    }
  }

#servicos .entry-header .header-caption .entry-title > .linha2{
  color: #FEA32E!important;
}
