

* {
  margin: 0;
  padding: 0;
}

/* Icon 1 */
.flutuante #menu-hamburguer{
  top: 66px;
}
#menu-hamburguer {
  display: none;
  width: 40px;
  height: 45px;
  position: absolute;
  top: 106px;
  right: 32px;
  /* margin: 50px auto; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#menu-hamburguer span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #FEA32E;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}



/* Icon 3 */

#menu-hamburguer span:nth-child(1) {
  top: 0px;
}

#menu-hamburguer span:nth-child(2),#menu-hamburguer span:nth-child(3) {
  top: 18px;
}

#menu-hamburguer span:nth-child(4) {
  top: 36px;
}

#menu-hamburguer.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#menu-hamburguer.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-hamburguer.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu-hamburguer.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


/* menu mobile */
.menu-mobile{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  background-color: rgba(0,0,0,0.9);
  z-index: 999999;
  text-align: center;
  line-height: 42px;
  padding-top: 44px;
  opacity: 0;
  transition: all 1s;
  font-size: 30px;
}
.menu-mobile ul {
  margin: 0;
  position: relative;
  z-index: 2;
}
.menu-mobile ul li{
  list-style: none;
}
.menu-mobile .menu-menu-principal-container{
  width: 228px;
  margin: 0 auto;
}
.menu-mobile ul.sub-menu{
      margin-left: 0;
      font-size: 15px;
    line-height: 30px;
    overflow: hidden;
    height: 0;
    transition: all 1s;
}
.menu-mobile .hover-fechar{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.menu-mobile ul.sub-menu.active{
      height: 215px;
}
.menu-mobile ul li a{
  color: white;
  font-family: "Dosis", sans-serif;
}
.menu-mobile ul li a:hover{
  color: #FEA32E;
}
.menu-mobile.active{
  visibility: visible;

  opacity: 1;
}
.menu-mobile .menu-redes-sociais-container{
  margin: 0 auto;
  width: 107px;
  margin-top: 25px;
  position: relative;
  z-index: 2;
}
.menu-mobile .btn-newsletter{
  border-radius: 50px;
  border: 2px solid #FEA32E;
  color: #FEA32E;
  background: transparent;
  font-family: "Dosis", sans-serif;
  margin-top: 15px;
  position: relative;
  z-index: 2;

}
@media screen and (max-height: 480px){
  .menu-mobile .menu-menu-principal-container{
    display: block;
    float: left;
  }
  .menu-mobile .col{
    display: block;
    float: left;
  }
}

/* news-box */
#cabecalho_newsletter{
  margin-right: 6px;
}

#cabecalho_newsletter .btn-newsletter{
  border-radius: 50px;
  border: 2px solid #FEA32E;
  color: #FEA32E;
  background: transparent;
  font-family: "Dosis", sans-serif;
  font-size: 17px;
font-weight: normal;
}
.news-box{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.9);
  z-index: 999999;
  text-align: center;
  line-height: 42px;
  padding-top: 44px;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  font-size: 30px;
  padding: 130px;
  padding-top: 60px;
  transition: all 1s;
}
.news-box.open {
  visibility: visible;
  opacity: 1;
}
.news-box input{
  display: block;
    width: 100%;
    height: 70px;
    line-height: 66px;
    border-radius: 50px;
    border: solid white 4px;
    background-color: white;
    font-family: "Dosis", sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: white;
    text-align: center;
    font-size: 22px;
}

.news-box .fechar {
  width: 40px;
  height: 45px;
  position: absolute;
  top: 36px;
  right: 32px;
  cursor: pointer;
}
.news-box .fechar span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
}
.news-box .fechar span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.news-box .fechar span:nth-child(2), .news-box .fechar span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.news-box .fechar span:nth-child(3){
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.news-box .fechar span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.news-box input[type="email"]:focus, .news-box input[type="text"]:focus{

    color: white !important;
}
.news-box span.wpcf7-not-valid-tip{
  color: #87094F;
  font-size: 18px;
  font-weight: normal;
  display: block;
}
.news-box div.wpcf7-validation-errors {
    border: 2px solid #f7e700;
    display: none !important;
}
.news-box div.wpcf7-response-output{
width: 100%;
height: 70px;
line-height: 53px;
border-radius: 50px;
border: solid #30A79F 4px;
background-color: black;
font-family: "Dosis", sans-serif;
font-weight: 100;
font-size: 22px;
margin-top: -112px;
color: #30A79F;
z-index: 9;
position: relative;
}
.news-box h1{
  font-family: "Shadows Into Light", cursive;
  color: white;
  margin-bottom: 60px;
}

.news-box .wpcf7-submit{
  display: block;
    width: 100%;
    height: 70px;
    line-height: 66px;
    border-radius: 50px;
    border: solid #30A79F 4px;
    background-color: transparent;
    font-family: "Dosis", sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: #30A79F;
}

.news-box .wpcf7-submit:hover{
    background-color: #87094F !important;
}



#breadcrumb_nav .breadcrumb_item, #breadcrumb_nav .breadcrumb_titulo{
  font-size: 12px !important;
}



/* HOME */
.home .intro_texto{
      margin-bottom: 27px !important;
}

/* digital transformation */
.modal.modal_servicos .modal-content {
  padding: 60px 0;
}
.servicos_blocos .bloco .bloco_itens .bloco_item:hover .item_imagem > .item_imagem_img path:not([style*="fill:none"]),
.servicos_blocos .bloco .bloco_itens .bloco_item:hover .item_imagem > .item_imagem_img circle:not([style*="fill:none"]), .servicos_blocos .bloco .bloco_itens .bloco_item:hover .item_imagem > .item_imagem_img rect:not([style*="fill:none"]){
  fill: #f3a83a !important;
}

.servicos_blocos .bloco.cor_branco .bloco_itens .bloco_item:hover .item_imagem > .item_imagem_img path:not([style*="fill:none"]){
  fill: #353535 !important;
}

#digital-studio #bloco1 .sidebox .sidebox_item ul > li::before, #sap_telas .tela ul > li::before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: none;
  width: 4px;
  height: 5px;
  content: '';
  display: none;
}
#sap_telas .tela ul {
  margin-left: 0;
}
#digital-studio #bloco1 .sidebox .sidebox_item ul > li, #sap_telas .tela ul > li{
  margin-bottom: 10px;
}
#digital-studio #bloco1 .sidebox .sidebox_item:not(:last-child){
  margin-bottom: 80px;
  margin-top: 26px;
}
#digital-studio #bloco1 .sidebox .sidebox_item .item_icone > .item_icone_img{
width: 64px;
height: 80px;
}
#sap_escolha .subsecao_botao .botao_conteudo .botao_icone > .botao_icone_inativo,
#sap_escolha .subsecao_botao.ativo .botao_icone > .botao_icone_ativo{
  width: 47px;
  height: auto;
}
#sap_escolha .subsecao_botao{
      border: solid #353535 2px;
      color: #353535;
}
#sap_escolha .subsecao_botao:hover svg path, #sap_escolha .subsecao_botao:hover svg rect{
      fill: #30A79F !important;
}
#sap_escolha .subsecao_botao.ativo{
      border: solid #87094F 2px;
}
#sap_escolha .subsecao_botao.ativo svg path,#sap_escolha .subsecao_botao.ativo svg rect {
      fill: white !important;
}
/* Modal Serviços  */
.modal.modal_servicos .modal-content .modal-body .secao_item .item_cabecalho .item_icone{
  display: none;
}
.modal.modal_servicos .modal-content .modal-body .secao_item.layout_2 .item_cabecalho .item_nome{
  padding-left: 0;
}
.modal.modal_servicos .modal-content .modal-body .secao_item .item_cabecalho{
  line-height: 0;
}
.modal.modal_servicos .modal-content .modal-body .modal_intro .intro_icone > .intro_icone_img path:not([style*="fill:none"]){
      fill: #353535 !important;
}
.modal.modal_servicos .modal-content .modal-header button.close{
  z-index: 99999;
}
@media screen and (max-width: 1230px) {
  #cabecalho_direita{
    display: none;
  }
  #menu-hamburguer{
    display: block;
  }
  .flutuante #cabecalho_logo{
    width: 85px;
    margin-bottom: 20px;
  }


}
@media screen and (max-width: 892px) {
  #home #inovacao_conteudo .inovacao_logo{
        float: left;
        margin-bottom: 42px;
  }
}
@media screen and (max-width: 690px) {
  #sap_escolha .botao{
    padding: 0 7px;
  }
  #sap_escolha .subsecao_botao .botao_conteudo .botao_icone > .botao_icone_inativo,
  #sap_escolha .subsecao_botao.ativo .botao_icone > .botao_icone_ativo{
    width: 25px !important;
  }
  #sap_escolha .subsecao_botao .botao_conteudo .botao_rotulo{
    font-size: 12px
  }
  .news-box{
    padding: 40px;
    padding-top: 104px;
  }
  .news-box h1{
    font-size: 24px;
  }
  .home #intro_titulo > .linha1 {
    font-size: 26px;
  }
  .home #intro_wrapper .intro_texto{
    font-size: 25px;
  }
  #home #solucoes_titulo > .linha1  {
    font-size: 26px;
    margin-bottom: 14px;
  }
  #home #solucoes_titulo > .linha2 {
    font-size: 70px;
    margin-top: -13px;
    margin-bottom: 8px;
  }
  #home #solucoes_itens .solucoes_item{
    padding: 0 47px;
  }
  #home_blog_wrapper .secao_titulo > .linha1,
  #rodape_blog_wrapper .secao_titulo > .linha1{
    font-size: 70px;
    margin: 21px;
  }
  #home_blog_wrapper .secao_intro, #rodape_blog_wrapper .secao_intro {
    margin-bottom: 60px;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Dosis';
    line-height: 28px;
    padding: 0 30px;
  }
  #home #inovacao_conteudo{
    text-align: center;
  }
  #home #inovacao_conteudo .secao_titulo{
    text-align: center;
    margin:auto !important;
    width: auto !important;
    font-size: 70px;
  }
  #home #inovacao_conteudo .inovacao_texto{
    text-align: center;
    /* padding-right: 0 !important; */
    padding: 0 24px;
    font-size: 24px;
  }
  #home #inovacao_conteudo .inovacao_titulo_linha2{
    font-size: 30px;
  }
  #home #inovacao_conteudo .inovacao_logo{
    float: none !important;
    margin: 0 auto !important;
  }
  #inovacao_conteudo .inovacao_botao {
    display: inherit;
    margin-top: 54px;
    width: 287px;
    margin: 54px auto 0;
  }
  #estatisticas_wrapper .secao_titulo > .linha2{
    font-size: 33px;
  }
  .servicos_blocos .bloco .bloco_sobre .sobre_titulo > .linha3{
    font-size: 63px;

  }
}
