body{
	margin: 0;
}
.header-pesquisa{
	background-image: url('../img/banner-pesquisa-mascara.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
    &:before{
    	position: absolute;
	    top: 100%;
	    right: 0;
	    height: 50%;
	    z-index: 0;
	    width: 200%;
	    background-color: rgb(255,255,255);
	    -webkit-transform-origin: right top;
	    transform-origin: right top;
	    -webkit-transform: rotate(11deg);
	    transform: rotate(11deg);
	    content: '';
    }
    @media (max-width: 767.98px){
    	height: 50vh;
    }    
}
.box-buscar{
	position: absolute;
	top: 35%;
	width: 100%;
}
.campo-buscar{
	width: 65%;
	margin: 0 auto;
	display: block;
    border-radius: 50px;
    border: 2px solid #FEA32E;
    color: #FEA32E;
    background: transparent;
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: normal;
    padding: 10px 30px;
    background-image: url('../img/busca.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
    outline: none;
}

.campo-buscar::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #FEA32E;
}
.campo-buscar::-moz-placeholder { /* Firefox 19+ */
	font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #FEA32E;
}
.campo-buscar:-ms-input-placeholder { /* IE 10+ */
	font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #FEA32E;
}
.campo-buscar:-moz-placeholder { /* Firefox 18- */
	font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #FEA32E;
}

.resultado-pesquisa{
	position: relative;
	margin-top: -50px;
	margin-bottom: 50px;
	a{
		color: #212529;
		&:hover{
			color: #212529;
   			text-decoration: unset;
		}
	}
	.resultado-artigo{
		margin: 30px 0;
		h5{
			font-family: "Dosis", sans-serif;
		    font-weight: 700;
		}
		.postado{
			font-size: 11px;
		}		
	}	
	h2{
		font-family: "Dosis", sans-serif;
	    font-weight: 700;
	    line-height: 1.42857em;	  
	    padding-bottom: 5px;
	    font-size: 26px;
	    line-height: 1.2em;
	}
	.col-sm-6{	
		&:nth-child(1){
			@media (min-width: 768px){
				border-right: 3px solid #FEA32E;
				padding-right: 60px;
				padding-left: 0;
			}			
		}
		&:last-child{
			@media (min-width: 768px){
				padding-left: 60px;
			}
		}
	}
	span{
		color: #FEA32E;
	}
	.botao-proximo{
		background-color: #FEA32E;
		font-size: 20px;
		text-align: center;
		padding: 5px 0;
		border-radius: 50px;
		color: white;
		font-family: "Dosis", sans-serif;
	    font-weight: 700;
	    width: 35%;
	    float: right;
	    margin: 35px 0;
	    cursor: pointer;
	    @media (max-width: 767.98px){
	    	width: 60%;
	    	margin: 0px 0 50px;
	    }	    
	}
	.pesquisa-relacionada{
		width: 100%;
		margin-bottom: 50px;
		.resultado-seg{
			color: #212529;
		    text-align: right;
		    font-size: 18px;
		    font-weight: 700;
		    @media (max-width: 767.98px){
		    	text-align: left;
		    }		    
		}
		h4{
			font-family: "Dosis", sans-serif;
		    font-weight: 700;
		    line-height: 1.42857em;	  
		    padding-bottom: 5px;
		    img{
		    	padding-left: 15px;
		    }
		}
		p{
			color: #FEA32E;
			font-style: italic;
		    font-size: 14px;
		    width: 100%;
		    margin-bottom: 5px;
		}
		span{
			font-weight: 700;
		}
		@media (max-width: 767.98px){
			margin: 0 0px 30px;
		}
	}
	@media (max-width: 575.98px){
    	margin-top: 0px;
    }   
}
.triangulo{
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0;
	border-bottom: 100px solid red;
	border-right: 100px solid transparent;
}