

* {
  margin: 0;
  padding: 0;
}

/* Icon 1 */
.flutuante #menu-hamburguer{
  top: 66px;
}
#menu-hamburguer {
  display: none;
  width: 40px;
  height: 45px;
  position: absolute;
  top: 106px;
  right: 32px;
  /* margin: 50px auto; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#menu-hamburguer span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #FEA32E;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}



/* Icon 3 */

#menu-hamburguer span:nth-child(1) {
  top: 0px;
}

#menu-hamburguer span:nth-child(2),#menu-hamburguer span:nth-child(3) {
  top: 18px;
}

#menu-hamburguer span:nth-child(4) {
  top: 36px;
}

#menu-hamburguer.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#menu-hamburguer.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-hamburguer.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu-hamburguer.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


/* menu mobile */
.menu-mobile{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  background-color: rgba(0,0,0,0.9);
  z-index: 999999;
  text-align: center;
  line-height: 42px;
  padding-top: 44px;
  opacity: 0;
  transition: all 1s;
  font-size: 30px;
}
.menu-mobile ul {
  margin: 0;
}
.menu-mobile ul li{
  list-style: none;
}
.menu-mobile ul.sub-menu{
      margin-left: 0;
      font-size: 15px;
    line-height: 30px;
}
.menu-mobile ul li a{
  color: white;
  font-family: "Dosis", sans-serif;
}
.menu-mobile ul li a:hover{
  color: #FEA32E;
}
.menu-mobile.active{
  visibility: visible;

  opacity: 1;
}
.menu-mobile .menu-redes-sociais-container{
  margin: 0 auto;
  width: 107px;
  margin-top: 25px;
}
.menu-mobile .btn-newsletter{
  border-radius: 50px;
  border: 2px solid #FEA32E;
  color: #FEA32E;
  background: transparent;
  font-family: "Dosis", sans-serif;
  margin-top: 15px;

}


/* news-box */
#cabecalho_newsletter .btn-newsletter{
  border-radius: 50px;
  border: 2px solid #FEA32E;
  color: #FEA32E;
  background: transparent;
  font-family: "Dosis", sans-serif;
  font-size: 17px;
font-weight: normal;
}
.news-box{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.9);
  z-index: 999999;
  text-align: center;
  line-height: 42px;
  padding-top: 44px;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  font-size: 30px;
  padding: 130px;
  padding-top: 60px;
  transition: all 1s;
}
.news-box.open {
  visibility: visible;
  opacity: 1;
}
.news-box input{
  display: block;
    width: 100%;
    height: 70px;
    line-height: 66px;
    border-radius: 50px;
    border: solid white 4px;
    background-color: white;
    font-family: "Dosis", sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: white;
    text-align: center;
    font-size: 22px;
}

.news-box .fechar {
  width: 40px;
  height: 45px;
  position: absolute;
  top: 36px;
  right: 32px;
  cursor: pointer;
}
.news-box .fechar span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
}
.news-box .fechar span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.news-box .fechar span:nth-child(2), .news-box .fechar span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.news-box .fechar span:nth-child(3){
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.news-box .fechar span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.news-box input[type="email"]:focus, .news-box input[type="text"]:focus{

    color: white !important;
}
.news-box span.wpcf7-not-valid-tip{
  color: #87094F;
  font-size: 18px;
  font-weight: normal;
  display: block;
}
.news-box div.wpcf7-validation-errors {
    border: 2px solid #f7e700;
    display: none !important;
}
.news-box div.wpcf7-response-output{
width: 100%;
height: 70px;
line-height: 53px;
border-radius: 50px;
border: solid #30A79F 4px;
background-color: black;
font-family: "Dosis", sans-serif;
font-weight: 100;
font-size: 22px;
margin-top: -112px;
color: #30A79F;
z-index: 9;
position: relative;
}
.news-box h1{
  font-family: "Shadows Into Light", cursive;
  color: white;
  margin-bottom: 60px;
}

.news-box .wpcf7-submit{
  display: block;
    width: 100%;
    height: 70px;
    line-height: 66px;
    border-radius: 50px;
    border: solid #30A79F 4px;
    background-color: transparent;
    font-family: "Dosis", sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: #30A79F;
}

.news-box .wpcf7-submit:hover{
    background-color: #87094F !important;
}



#breadcrumb_nav .breadcrumb_item, #breadcrumb_nav .breadcrumb_titulo{
  font-size: 12px !important;
}



/* HOME */
.home .intro_texto{
      margin-bottom: 27px !important;
}

@media screen and (max-width: 1230px) {
  #cabecalho_direita{
    display: none;
  }
  #menu-hamburguer{
    display: block;
  }
  .flutuante #cabecalho_logo{
    width: 85px;
    margin-bottom: 20px;
  }


}

@media screen and (max-width: 620px) {
  .news-box{
    padding: 40px;
    padding-top: 104px;
  }
  .news-box h1{
    font-size: 24px;
  }
  .home #intro_titulo > .linha1 {
    font-size: 26px;
  }
  .home #intro_wrapper .intro_texto{
    font-size: 25px;
  }
  #home #solucoes_titulo > .linha1  {
    font-size: 26px;
    margin-bottom: 14px;
  }
  #home #solucoes_titulo > .linha2 {
    font-size: 70px;
    margin-top: -13px;
margin-bottom: 8px;
  }
}
